@using CustomersAJAX.Models
@model Tuple<List<Customer>, Customer>


<br/><br/><br/>
<div class="d-flex flex-row justify-content-between">
    <div class="col-lg-6 ml-lg-5 " >
<form asp-controller="Customer" asp-action="OnFormSubmit" 
      data-ajax="true"
      data-ajax-metod="POST"
      data-ajax-mode="replace"
      data-ajax-update="#customerinfo"
      data-ajax-success="Success"
      data-ajax-failure ="Failure">
      


        <div class="formgroup">
            <h4>@Html.Label("Name")</h4>
            <div>@Html.TextBox("Name", "", htmlAttributes: new { @class = "form-control", id = "Name" })</div> 
        </div>

        <div class="formgroup">
            <h4>@Html.Label("Age")</h4>
            <div>@Html.TextBox("Age", "", htmlAttributes: new { @class = "form-control", id = "Age" })</div> 
        </div><br/>
        <input type="submit" name="Submit" class="btn-btn-block btn-dark">
</form>
    </div>
        
   <br>
    <div class="col ml-lg-5">
        <div id="customerinfo" >
            <h4>display info here</h4>
        </div>
    </div>
</div>









